<footer class="mainfooter container-fluid">
      <div class="row">  
        <div class="col-12 col-md-4">
            <ul class="list-unstyled footer">
                
                <li><a href="#">HOME</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">WINKELWAGEN</a></li>
                <li><a href="#">ALGEMENE VOORWAARDEN</a></li>
            </ul>
            <p >&copy; Copyright 2017 - VUURHUUR </p>
        </div>

        <div class="col-12 col-md-4 text-center footervuurhuur">
            <h2>VUURHUUR</h2>
            <img src="images/logo.svg" width="30px">
        </div>
     </div>
    </div>    
   
</footer>
