<footer class=" mainfooter" >
    <div class="container-fluid">
      <div class="row">  
        <div class="col-12 col-md-5">
            <h4>Contact</h4>
                <address>
                    <ul class="list-unstyled footer">
                        <li>Vuurhuur</li>
                        <li>Industrieweg 232</li>
                        <li>9030 Gent-Mariakerke, Oost-Vlaanderen</li>
                        <li>Tel: 09 234 86 00</li>
                    </ul>
                </address>
        </div>

        <div class="col-12 col-md-5">
            <ul class="list-unstyled footer">
                <li><a href="#"></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Winkelwagen</a></li>
            </ul>
        </div>

        <div class="col-12">
            <p class="text-xs-center">&copy; Copyright 2017 - VUURHUUR  All rights reserved.</p>
        </div>
    </div>
</div>

</footer>

<nav class="navbar fixed navbar-light bg-light">
        {%- if site.show-style-guide %}
            <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
        {%- endif %}
</nav>