h1,h2,h3,h4,h5,h6,p,a{
    font-family:'Saira';
    margin-top: 20px
  }


    
 /* Footer */
    footer{
      color: grey;
    }

    footer a{
      color: white;
    }

    footer a:hover{
      color: white;
     
    }
    
    .mainfooter{
      background-color: lightgray;
      padding: 20px;
     
    }


.footervuurhuur{
    margin-top: 50px
}
 /* Navigatie */

   .nav{
     background-color: lightgrey;
     font-family:'Saira', sans-serif;
   }

.fireplace{
    margin-top: 1em;
    margin-bottom: 1em;

}

.carousel-item img{
    width:100%;
    
}
.carousel-item {
    width:100%;
    height:200px;
    
}


.gezellig{
    background-color: lightgray;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}