 /* Font */

    h1{
      font-family: 'Oswald', sans-serif;
       margin-top: 20px;
       
    }
    
    h2,h3,h4,h5,h6,p,a{
      font-family: 'Titillium Web', sans-serif;
        margin-top: 20px
      }

    .form{
      font-family: 'Titillium Web', sans-serif;
      
    }
    
    li{
      font-family: 'Titillium Web', sans-serif;
    }

    .shop{
      font-size: 14px;
      margin-top: 30px;
      font-style: italic
    }
 /* Footer */

    footer{
      color: white;
    }

    footer a{
      color: white;
    }

    .mainfooter{
      background-color: black;
      padding: 20px;
      margin-top:20px;
      width:100%
    }

    
    .facebook{
      background-image: url(images/sprite.png);
      background-position: 0 0;
      
      
    }

    .instagram{
      background-image: url(images/sprite.png);
      background-position: -50px 0;
      
     
    }
    .icon{
      background-image: url(../../images/sprite.png);
      background-repeat: no-repeat;
      display: inline-block;
      width:50px;
      height: 50px;
      text-indent: -999rem;
      overflow:hidden; 
      margin-bottom: -20px !important
    
      
      
    }

 /* Navigatie */

    .nav{
      background-color: black ;
      padding-bottom: 20px;
      
    }
    .navbar-brand{
      
        font-family: 'Oswald', sans-serif;
        
     
    }
    a:hover{
      color:white;
      text-decoration: underline;
    }
    
      
    a {
      color: white
    }

    .navbar-toggler {
      border-color:red;
      
    }

    .navbar-toggler-icon{
      color: white;
     
    }
   
  
    .fireplace{
        margin-top: 2em;
        margin-bottom: 1em;

    }

    .fire{
      align-items: center
    }
    .family{
      margin-top:20px
    }

    .carousel-item img{
        width:100%;   
    }

    .carousel-item {
        width:100%;
    }

    .box{
      background-color: black;
     
      height: 50px;
      margin: auto
    }

    .gezellig{
        
        background-color: rgb(210, 194, 175);
        padding: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
    }


    .btn-group{
      margin-bottom: 20px;
    }

    .stroke{
      background-color:grey;
      stroke:solid;
      width: 100%;
      border: none;
      height: 1px 
    }

/* SHOP */
    .openhaard{
    padding-top: 20px;
    margin-bottom: 20px
    }

    ul{
      list-style-image: url(../../images/logo.svg)
    }

    

/* Contact */

    .contact{
      margin: 20px;
      background-color:  rgb(211, 183, 141);

    }

/* winkelwagen */

    .periode{
      background-color:grey;
      color: white
    }


    .table{
      font-family:'Titillium Web', sans-serif;
    }

    .product{
      margin-top: 30px;
      margin-bottom: 30px
    }

    .winkelwagen{
      background-color: lightgray;
      color: grey;
      width: 100%;
      margin-bottom: 20px
    }

    .breadcrumb{
      background-color: white;  
    }

    .breadcrumb-item{
      color:grey
    }

    .breadcrumb-item.active{
      color: red
    }
    
    .breadcrumb-item:hover{
      color: black;
      text-decoration: none
    }
    
    .aanhef{
      margin-right: 30px
    }
    



@media (min-width: 576px){

  .footer .ul .li{
    text-align: center;
    margin: auto;
    align-items: center
  }
  .copy{
    text-align: center
  }
  .icon{
    margin-bottom: 40px !important;
    
  }
  .haarden{
    width: 50px !important
  }
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .display-3{
      font-size: 100px
  }

  .container {
      position: relative;
      width: 100%;
  }

  .icon{
    
    margin-top: -10px !important;
    margin-bottom: -20px !important;
     
  }

  .facebook{
    margin-left: 20px !important
  }
  .openhaard{
    margin-top: 25px !important;
    width: 350px !important
  }
  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  
  .container {
      position: relative;
      width: 100%;
  }

  .gegevens{
    column-count: 2
  }

  .logo{
    position: center
  }

  .openhaard{
    width: 350px

  }
  }